<table class="table table-hover" border="1">
    <tr>
      <td width="70px">
      <a href="{{ url_for('apartments', aid=apart.id)}}"><p>Address: {{apart.address}}</p></a>
      <p>Summary:</p>
      <ul>
        {% for p in apart.summary.payments%}
        <li>{{p.name}}: {{p.payment}}</li>
        {%endfor%}
      </ul>
      <p> Sum: {{apart.summary.sum}}</p>
      <div align="right" ><h4><a href="{{ url_for('submit_apart', aid=apart.id) }}">Submit all counters</a></h4></div>
      </td>
    </tr>
</table>
