<table class="table table-hover" border="1">
    <tr>
      <td width="70px">
      <a href="{{ url_for('counters', aid=aid, cid=counter.id)}}"><p>{{counter.name}}</p></a>
      <p> Last submit: {{counter.last_value}} for <span style="color: green;">{{counter.last_time}} </span></p>
      <p> Sum: {{counter.summary.sum}}</p>
      <p><a href="{{url_for('add_value', aid=aid,cid=counter.id)}}">submit a value</p>
      </td>
    </tr>
</table>
