<table class="table table-hover" border="1">
    <tr>
      <td width="70px">
      <a href="{{ url_for('payments', aid=aid, cid=payment.id)}}"><p>{{payment.name}}</p></a>
      <p>{{payment.value}}</p>
      </td>
    </tr>
</table>
