<table class="table table-hover" border="1">
    <tr>
      <td width="70px">
      <p style="color: green;">{{value.timestamp}}</p>
      <p>{{value.value}}</p>
      <p><a href="{{url_for('values_manipul',aid=aid,cid=cid,vid=value.id,path1='edit')}}">edit</a>
      <a href="{{url_for('values_manipul',aid=aid,cid=cid,vid=value.id,path1='delete')}}"><span style="color: red;">delete</span></a></p>
      </td>
    </tr>
</table>
