{% extends "base.html"%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content%}
  <h1>{{title}}</h1>
  <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
  <p><a href="{{url_for('counters', aid=aid, cid=cid)}}">back</a></p>
{% endblock %}
