{%extends "base.html"%}
    {% block app_content %}
        <h1>Hello, {{user.username}}!</h1>
        <h1>Your apartments:</h1>
        {% for apart in apartments%}
        {% include '_apartment.html' %}
        {%endfor%}
    {%endblock%}
