{%extends "base.html"%}
    {% block app_content %}
      <h1>Apartment</h1>
      <table class="table table-hover" border="1">
          <tr>
            <td width="70px">
            <h4>Address: {{apart.address}}</h4>
            <h4>Sum: {{apart.summary.sum}}</h4>
            <h4><a href="{{ url_for('submit_apart', aid=aid) }}">Submit all counters</a></h4>
            <h4><a style="color: green;" href="{{ url_for('forecast', aid=aid) }}">Make forecast</a></h4>
            </td>
          </tr>
      </table>
      {% for counter in counters %}
      {% include '_counter.html' %}
      {% endfor%}
      {% for payment in payments %}
      {% include '_payment.html' %}
      {% endfor%}
      <p><a href="{{url_for('new_counter', aid=aid)}}">Add new counter</a></p>
      <p><a href="{{url_for('new_payment', aid=aid)}}">Add new payment</a></p>

    {%endblock%}
