{% extends 'bootstrap/base.html' %}

  {% block title %}
    {% if title %}{{title}} - House Meters Control
    {%else%} Welcome to House Meters Control
    {%endif%}
  {% endblock %}
  {%block navbar%}
  <nav class="navbar navbar-default">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" >HMC</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="{{url_for('main')}}">Apartments </a></li>
                {% if title=='Apartment'%}
                <li><a href="{{url_for('apart_manipul', aid=aid, path1='edit')}}">Edit address </a></li>
                <li><a  style="color: red;" href="{{url_for('apart_manipul', aid=aid, path1='delete')}}">delete address </a></li>
                {%endif%}
                {% if title=='Apartments'%}
                <li><a href="{{url_for('new_apart')}}">New address </a></li>
                {%endif%}
                {% if title=='Counter'%}
                <li><a href="{{url_for('counter_manipul', aid=aid, cid=cid,path1='edit')}}">Edit counter </a></li>
                <li><a style="color: red;" href="{{url_for('counter_manipul', aid=aid, cid=cid, path1='delete')}}">delete counter </a></li>
                {%endif%}
                {% if title=='Payment'%}
                <li><a href="{{url_for('payment_manipul', aid=aid, cid=cid,path1='edit')}}">Edit payment </a></li>
                <li><a style="color: red;" href="{{url_for('payment_manipul', aid=aid, cid=cid, path1='delete')}}">delete payment </a></li>
                {%endif%}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>{% if not request.cookies.get('token_1') %}
                <a href="{{url_for('login')}}"> Login</a>
                {% else %}
                <a href="{{url_for('logout')}}"> Logout</a>
                {% endif%}</li>
              </ul>
            </div>
        </div>
    </nav>
{% endblock %}
    {%block content%}
      <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {%block app_content%}{%endblock%}
      </div>
    {%endblock%}
