{% extends "base.html"%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<table class="table table-hover" border="1">
    <tr>
      <td width="70px">
      <h1>{{counter.name}}</h1>
      <ul>
        <li>Cost: {{counter.cost}}</li>
        {%if counter.limit %}
        <li>Limit: {{counter.limit}}</li>
        <li>Cost after exceeding the limit: {{counter.second_cost}}</li>
        {%endif%}
        {%if counter.summary %}
        <li>Days have passed between the last two submissions: {{counter.summary.days_passed}}</li>
        <li>Average per day usage(in currency): {{counter.summary.avr}} ({{counter.summary.avr_in_currency}})</li>
        {%endif%}
      </ul>
      <p>Sum: {{counter.summary.sum}}
      </td>
    </tr>
</table>


  {% for value in values %}
  {% include '_value.html' %}
  {% endfor%}
  <p><a href="{{url_for('add_value', aid=aid,cid=cid)}}">Add value</p>
  <p><a href="{{url_for('apartments',aid=aid)}}">back</a></p>
{%endblock%}
