{%extends "base.html"%}
    {% block app_content %}
      <h1>Forecast</h1>
      <table class="table table-hover" border="1">
          <tr>
            <td width="70px">
            <h4>Address: {{apart.address}}</h4>
            <h4>Sum: {{summary.sum}}</h4>
            </td>
          </tr>
      </table>
      {% for counter in summary.counters %}
      <table class="table table-hover" border="1">
          <tr>
            <td width="70px">
            <p style="color: green;">{{counter.name}}</p>
            <p> Forecast {{counter.forecast_cost}} for <span style="color: orange;">{{counter.forecast_date}} </span></p>
            <p> days passed: {{counter.days_passed}}</p>
            <p> average in currency: {{counter.avr_in_currency}}</p>
            </td>
          </tr>
      </table>
      {% endfor%}
      <h4><a href="{{url_for('apartments', aid=aid)}}">back</a></h4>

    {%endblock%}
