{% extends "base.html"%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
  <h1>{{payment.name}}</h1>
  <h2>{{payment.value}}</h2>
  <p><a href="{{url_for('apartments',aid=aid)}}">back</a></p>
{%endblock%}
