{% extends "base.html"%}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content%}
  <h1>{{title}}</h1>
  <div class="row">
        <div class="col-md-4">
  <form class="form form-horizontal" method="post" role="form">
  {{ form.hidden_tag() }}
            <ul>
            {%for c in range(clen)%}
            <h3 style="color: green;"><strong><li>{{ counters[c].name }}</li></strong></h3>
            {{ wtf.form_field(form.counters[c].value) }}
            {{ wtf.form_field(form.counters[c].custom_timestamp) }}
            {% endfor%}
            </ul>
            {{ wtf.form_field(form.submit)}}
    </form>
  </div>
</div>
  <h4><a href="{{url_for('main')}}">back</a></h4>
{% endblock %}
